.container
  = render "items/main-header"
  .mypage
    .mypage__main
      = render "modules/mypage-left"
    
      .card
        .card__content
          .card__content__top
            支払い方法
          .card__content__middle
            .card__content__middle__text
              クレジットカード一覧
            .card__content__middle__btn
              .card__content__middle__btn__text
                %i.fa.fa-credit-card
                クレジットカードを登録する
            .card__content__middle__bottom
              = link_to "#", target: "blank", class: "card__content__middle__bottom__link" do
                #card__span 支払い方法について
                %i.fa.fa-angle-right

  -# = render "layouts/footer"