.header
  %body.header-body
    %img.header-body-logo{src: "assets/logo-white.png", alt: "ロゴ"}

.item
  .item-image
    .item-image-title
      .item-image-title-body
        %ul.item-image-title-body-name
          %li.item-image-title-body-name-a
            出品画像
          %li.item-image-title-body-name-b
            必須
      %p.item-image-title-text
        最大10枚までアップロードできます。
      .item-image-title-box
        .item-image-title-box-input
          .item-image-title-box-input-1
            = fa_icon "camera"
          .item-image-title-box-input-2
            ドッラクアンドドロップ
          .item-image-title-box-input-2
            またはクリックしてファイルをアップロード
                    
              
  .item-name  
    .item-name-title
      .item-name-title-a
        .item-name-title-a-text
          %ul.item-name-title-a-text-body
            %li.item-name-title-a-text-body-1
              商品名
            %li.item-name-title-a-text-body-2
              必須
        %form.item-name-title-a-field
          %input.item-name-title-a-field-text{type: "text", name: "name", placeholder: "40字まで"}
            
      .item-name-title-b
        .item-name-title-b-text
          %ul.item-name-title-b-text-body
            %li.item-name-title-b-text-body-1
              商品の説明
            %li.item-name-title-b-text-body-2
              必須
        %form.item-name-title-b-field
          %textarea.item-name-title-b-field-text{name: "comment", cols: "60", rows: "7", placeholder: "商品の説明(必須1,000文字以内)(色、素材、重さ、定価、注意点など)                      例）2010年頃には一万円で購入したジャケットです。ライトグレーではありません。あわせやすいのでお勧めです。"}

  .item-detail
    .item-detail-title
      .item-detail-title-text
        商品の詳細
      .item-detail-title-body-a
        %ul.item-detail-title-body-a-text
          %li.item-detail-title-body-a-text-1
            カテゴリー
          %li.item-detail-title-body-a-text-2
            必須
        %select.item-detail-title-body-a-field
          %option{value: "1", selected: "1"}
            選択してください
          %option{value: "2"}
            メンズ
          %option{value: "3"}
            レディース
          %option{value: "4"}
            インテリア・小物・住まい
          %option{value: "5"}
            ベビー・キッズ
            
      .item-detail-title-body-a
        %ul.item-detail-title-body-a-text 
          %li.item-detail-title-body-a-text-1
            商品の状態
          %li.item-detail-title-body-a-text-2
            必須
        %select.item-detail-title-body-a-field
          %option{value: "1", selected: "1"}
            選択してください
          %option{value: "2"}
            新品、未使用
          %option{value: "3"}
            未使用に近い
          %option{value: "4"}
            目立った傷や汚れなし
          %option{value: "5"}
            やや傷れや汚れあり
          %option{value: "6"}
            傷や汚れあり
          %option{value: "7"}
            全体的に状態が悪い

      
            
            

  .item-delivery
    .item-delivery-title
      .item-delivery-title-text
        配送について 
      .item-delivery-title-body
        %ul.item-delivery-title-body-text
          %li.item-delivery-title-body-text-1
            配送量の負担
          %li.item-delivery-title-body-text-2
            必須
        %select.item-delivery-title-body-field
          %option{value: "1", selected: "1"}
            選択してください
          %option{value: "2"}
            未定
          %option{value: "3"}
            ゆうメール
          %option{value: "4"}
            レターパック
          %option{value: "5"}
            普通郵便(定形、定形外)
          %option{value: "6"}
            クロネコヤマト
          %option{value: "7"}
            ゆうパック
          %option{value: "8"}
            クリックポスト
          %option{value: "9"}
            ゆうパケット

      .item-delivery-title-body
        %ul.item-delivery-title-body-text
          %li.item-delivery-title-body-text-1
            発送元の地域
          %li.item-delivery-title-body-text-2
            必須
        %select.item-delivery-title-body-field
          %option{value: "1", selected: "1"}
            選択してください
        
      .item-delivery-title-body
        %ul.item-delivery-title-body-text
          %li.item-delivery-title-body-text-1
            発送までの日数
          %li.item-delivery-title-body-text-2
            必須
        %select.item-delivery-title-body-field
          %option{value: "1", selected: "1"}
            選択してください
          %option{value: "2"}
            1~2で発送
          %option{value: "3"}
            2~3で発送
          %option{value: "4"}
            4~7で発送
      
  .item-price
    .item-price-title
      .item-price-title-text-a
        価格(¥300~9,999,999)
      .item-price-title-text-b
        %ul.item-price-title-text-b-body
          %li.item-price-title-text-b-body-1
            販売価格
          %li.item-price-title-text-b-body-2
            必須
          %li.item-price-title-text-b-body-3
            ¥
        %input.item-price-title-b-field{type: "number", name: "price", placeholder: "0"}
          
  .item-profit
    .item-profit-title
      .item-profit-title-text
        .item-profit-title-text-1
          販売利益
        .item-profit-title-text-2
          販売手数料(10%)

      .item-profit-title-input
        .item-profit-title-input-1
          %input.item-profit-title-input-1-field{type: "submit", value: "出品する"}

        .item-profit-title-input-2
          %input.item-profit-title-input-2-field{type: "submit", value: "下書きに保存する"}
      
        .item-profit-title-input-3
          戻る

      .item-profit-title-body
        %br.item-profit-body-1
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規       約に同意したことになります。

.footer
  %ul.footer-text
    %li.footer-text-a
      プライバシーポリシー
    %li.footer-text-b
      メルカリ利用規約
    %li.footer-text-c
      特定商取引に関する表記
  .footer-logo
    
