.header
  .header-logo
    %i.fas.fa-cart-plus
  .header-text
    %p mercari

.item
  .item-image
    .item-image-form
      .item-image-name
        %lavel
          出品画像
        %span
          必須
      .item-image-text
        %p
          最大10枚までアップロードできます。
      .item-image-upload
        .item-image-upload-sell-a
          %date-test ="sell-upload-container"
          .item-image-upload-sell-b
            - tabindex="0"
            .item-image-upload-sell-c
              %input{type: "file", accept: "", multiplestyle: ""}
              
      
  .item-name  
    %ul
      %li
      

  .item-detail

  .item-delivery

  .item-price

.footer