.sellbtn {
  position: fixed;
  top: 79%;
  left: 90%;
  height: 120px;
  width: 120px;
  z-index: 1;
  background-color: #3CCACE;
  text-align: center;
  line-height: 2.3;
  border-radius: 4%;
  color: white;
}