.main-header{
  height: 100px;
  width: 100%;
  background-color: #fafafa;

  &__container{
    height: 82px;
    width:  720px;
    margin: 0 auto;
    padding: 8px 0 0;
    &__logo-and-search{
      height: 36px;
      margin: 0;
      padding: 0;
      display: flex;
      &__logo{
        width: 134px;
        margin-right: 40px;
      img {
        width: 134px;
      }
    }
      &__search{
        position: relative;
        width: calc(100% - (134px + 16px));
      a {
        color: black;
      }
      input {
        width: 100%;
        height: 36px;
        padding: 9px 32px 9px 8px;
        background: #fafafa;
        border-radius: 4px;
        box-sizing: border-box;
        border: 1px solid #ccc;
      }
      i {
        position: absolute;
        top: 0;
        right: 0;
        width: 36px;
        line-height: 36px;
        cursor: pointer;
        text-align: center;
      }

      }
    }

    .lists {
      height: 32px;
      margin: 9px 0 0 0;
      &__left {
        float: left;
        .categories {
          font-size: 15px;
          font-weight: 400;
          margin-top: 10px;
          h2 {
            a {
              display: block;
              color: #333;
              text-decoration: none;
              font-size: 15px;
              }
            }
        }    
      }
      }
  }
  .signin-and-signup {
    float: right;
    margin-right: 0;
    ul {
      position: relative;
      .signin-btn {
        float: left;
        margin: 0;
        .signin-btn__text{
          display: block;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          font-size: 13px;
          text-decoration: none;
          padding: 0 18px;
          border-radius: 4px;
          text-align: center;
          line-height: 30px;
        }
        .signin-btn__mypage{
          display: block;
          background: #fafafa;
          border: 1px solid black;
          color: black;
          font-size: 13px;
          text-decoration: none;
          padding: 0 18px;
          border-radius: 4px;
          text-align: center;
          line-height: 30px;
        }
      }
      .signup-btn {
        display: inline-block;
        margin: 0 0 0 11px;
        border-radius: 4px;
        .signup-btn__text{
          display: block;
          border: 1px solid #0099e8;
          background: #fff;
          color: #0099e8;
          font-size: 14px;
          text-decoration: none;
          padding: 0 16px;
          border-radius: 4px;
          text-align: center;
          line-height: 30px;
        }
      }
    }
  }
}
