.item-detail {
  height: 100hw;
  width: 100vw;
  background-color: #f8f8f8;
}
  .item-detail__top {
    display: flex;
    justify-content: center;
  
    &__box {
      background-color: white;
      width: 750px;
      margin: 30px;
      margin-bottom: 5px;
    }
      &__box__item-name {
        font-size: 25px;
        line-height: 1.3em;
        font-weight: bold;
        text-align: center;
        padding: 18px;
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      }
      &__box__item-image{
        text-align: center;
        .image-main {
          width: 400px;
        }
      }
        &__box__item-image-sub {
          list-style: none;
          background-color: white;
          .image-sub {
            width: 140px;
            height: 140px;
          }
        }
      &__box__item-price {
        margin: 20px;
      
        &-box {
          text-align: center;
          font-size: 50px;
          font-weight: bold;
          padding-bottom: 15px;
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        }
        &-detail {
          text-align: center;
          line-height: 0.2em;
          font-size: 17px;
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        }
      }
      &__box__item-text {
        &-box {
          text-align: left;
          font-size: 18px;
          margin: 40px;
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        }
      }
  }
      .item-detail__table {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        table {
          border: solid 1px;
          align-items: center;
          width: 600px;
          height: 400px;
          border-width: 1px;
          border-collapse: collapse;
          font-size: 14px;
        }
        tr {
          padding: 5px;
          border: #f8f8f8;
          border: solid 1px;
          border-color: lightgrey;
        }
        th {
          background-color: #f0f0f0;
          width: 150px;
          padding: 10px 5px;
          text-align: center;
        }
        td {
          padding-left: 15px;
        }
          .nickname {
            text-decoration: none;
            color: #3CCACE;
          }
          .category {
            text-decoration: none;
            color: #3CCACE;
          }
          .area {
            text-decoration: none;
            color: #1DC7D3;
          }
      }
      .item-detail__buy {
        text-align: center;
        width: 500px;
        height: 45px;
        border: solid;
        margin-left: 130px;
        margin-bottom: 15px;
        padding-top: 8px;
        background-color: #1DC7D3;
        border-color: #1DC7D3;
        text-decoration: none;
        .btn {
          text-decoration: none;
          font-size: 20px;
          align-items: center;
          color: white;
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        }  
      }
      .item-detail__management {
        text-align: right;
        .edit {
          text-decoration: none;
          color: #1DC7D3;
          font-size: 15px;
        }
        .destroy {
          text-decoration: none;
          color: #1DC7D3;
          margin-right: 20px;
          font-size: 15px;
        }
      }
      


      .item-detail__nav {
        padding-top: 13px;
        display: flex;
        justify-content: space-between;
        background-color: #f8f8f8;
      }
        .item-detail__nav-prev {
          .nav {
            color: #1DC7D3;
          }
          .nav:hover{
            text-decoration: underline;
            color: powderblue;
          }
        }
      
        .item-detail__nav-next {
          .nav-next {
            text-decoration: none;
            color: #1DC7D3;
          } 
          .nav-next:hover{
            text-decoration: underline;
            color: powderblue;
          }
        }

      .more-nav {
        background-color: #f8f8f8;
        color: #1DC7D3;
        font-size: 23px;
        font-weight: bold;
        padding-top: 15px;
        .more {
          color: #1DC7D3;
        }
      }
        
      .more-list {
        display: flex;
        background-color: #f8f8f8;
        height: 100hw;
      }
        .more-list__box {
          
          &__item {
            float: left;
            text-align: center;
            height: 320px;
            width: 223px;
            margin: 13px;
            background-color: white;
            &__text {
              height: 100px;
              text-align: left;
              background-color: white;
              
              &-name {
                margin-left: 15px;
                margin-top: 10px;
                text-decoration: none;
                font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
                a:hover {
                  text-decoration: underline;
                  color: dimgray;
                }
              }
                
              &-price {
                padding: 15px 5px;
                margin-left: 10px;
                font-size: 17px;
                font-weight: bold;
                font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
                a:hover {
                  text-decoration: underline;
                  color: dimgray;
                }
              }
            }
          }
        }
        

.link {
  clear: both;
  height: 400px;
  background-image: url(/bg-appBanner-pict.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .link-text {
    
    h2 {
      font-size: 25px;
      font-weight: bolder;
      color: white;
      text-shadow: 0px 0 4px black;
      text-align: center;
      margin-bottom: 20px;
    }
    
    p {
      font-size: 35px;
      font-weight: 100;
      color: white;
      text-shadow: 1px 0 4px black;
      text-align: center;
    }
  }
  .link-icon {
    
    a {
      text-decoration: none;
    }
    .icon {
      width: 260px;
      height: 60px;
      padding-top: 40px;
      padding-bottom: 9px;
    }
    .icon-goo {
      padding-top: 40px;
      height: 83px;
      width: 205px;
    }
    img:hover {
      opacity: 0.5;
    }
  }
    


