.header {
  display: flex;
  justify-content: center;
}
  .header-main {
    height: 120px;
    width: 1000px;
    
    &__logo {
      list-style: none;
      display: flex;
      
      a {
        text-decoration: none;
      }
      .rogo {
        height: 40px;
        width: 150px;
        margin-top: 15px;
      }
    } 
      &__logo__form{
        display: flex;
        
          .search {
            width: 780px;
            height: 35px;
            margin-left: 30px;
            margin-top: 20px;
            padding-left: 5px;
          }
        &__logo__form-btn {
          position: relative;
        } 
          .submit {
            position: absolute;
            margin-top: 20px;
            padding: 0;
            display: none;
          }
            .submit-logo {
              width: 32px;
              height: 36px;
              background-color: #3CCACE;
              margin-top: 20px;
            }     
        
        }
      


    &__logo__form__nav {
      list-style: none;
      .nav {
        float: left;
        font-size: 13px;
        margin-top: 7px;
        color: black;
      }
      a {
        text-decoration: none;
      }
      li {
        float: right;
        margin-top: 7px;
      }
      .login {
        font-size: 13px;
        color: black;
        margin-right: 20px;
      }
      .new {
        font-size: 13px;
        color: black;
      }
    }
  }
.item-detail {
  
} 
  .item-detail__top {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    
    &__box {
      background-color: white;
      width: 750px;
      margin: 30px;
      margin-bottom: 5px;
    }
      &__box__item-name {
        font-size: 25px;
        line-height: 1.3em;
        font-weight: bold;
        text-align: center;
        padding: 18px;
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      }
      &__box__item-image{
        text-align: center;
        .image-main {
          width: 600px;
        }
      }
        &__box__item-image-sub {
          list-style: none;
          .image-sub {
            width: 160px;
            height: 110px;
          }
        }
      &__box__item-price {
        margin: 20px;
      
        &-box {
          text-align: center;
          font-size: 50px;
          font-weight: bold;
          padding-bottom: 15px;
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        }
        &-detail {
          text-align: center;
          line-height: 0.2em;
          font-size: 17px;
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        }
      }
      &__box__item-text {
        text-align: center;
        
      
        &-box {
          text-align: left;
          font-size: 18px;
          margin: 40px;
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        }
      }
      .item-detail__table {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        table {
          border: solid 1px;
          align-items: center;
          width: 600px;
          height: 400px;
          border-width: 1px;
          border-collapse: collapse;
          font-size: 14px;
        }
        tr {
          padding: 5px;
          border: #f8f8f8;
          border: solid 1px;
          border-color: lightgrey;
        }
        th {
          background-color: #f0f0f0;
          width: 150px;
          padding: 10px 5px;
          text-align: center;
        }
        td {
          padding-left: 15px;
        }
          .category {
            text-decoration: none;
            color: #3CCACE;
          }
          .area {
            text-decoration: none;
            color: #1DC7D3;
          }
      }
      .item-detail__nav {
        list-style: none;
        padding-top: 5px;
        background-color: #f8f8f8;
        .nav {
          text-decoration: none;
          color: #1DC7D3;
        }
        .nav-next {
          text-decoration: none;
          color: #1DC7D3;
          float: right;
        }
      }
      .item-detail__more-navi {
        background-color: #f8f8f8;
        font-size: 23px;
        font-weight: bold;
        padding: 25px 0;
        
        a {
          text-decoration: none;
          color: #1DC7D3;
        }
      }
    
  }
  .link {
    height: 400px;
    background-image: url(bg-appBanner-pict.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .link-text {
      
      h2 {
        font-size: 25px;
        font-weight: bolder;
        color: white;
        text-shadow: 0px 0 4px black;
        text-align: center;
        margin-bottom: 20px;
      }
      
      p {
        font-size: 35px;
        font-weight: 100;
        color: white;
        text-shadow: 1px 0 4px black;
        text-align: center;
      }
    }
      .link-icon {
        text-align: center;
        a {
          text-decoration: none;
        }
        .icon{
          height: 60px;
          width: 210px;
          margin-top: 20px;
        }
        img:hover {
          opacity: 0.5;
        }
      }

