.item-detail {
  height: 1510px;
  width: 100vw;
  background-color: #f8f8f8;
}
  .item-detail__top {
    display: flex;
    justify-content: center;
  
    &__box {
      background-color: white;
      width: 750px;
      margin: 30px;
      margin-bottom: 5px;
    }
      &__box__item-name {
        font-size: 25px;
        line-height: 1.3em;
        font-weight: bold;
        text-align: center;
        padding: 18px;
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      }
      &__box__item-image{
        text-align: center;
        .image-main {
          width: 600px;
        }
      }
        &__box__item-image-sub {
          list-style: none;
          background-color: white;
          .image-sub {
            width: 160px;
            height: 110px;
          }
        }
      &__box__item-price {
        margin: 20px;
      
        &-box {
          text-align: center;
          font-size: 50px;
          font-weight: bold;
          padding-bottom: 15px;
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        }
        &-detail {
          text-align: center;
          line-height: 0.2em;
          font-size: 17px;
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        }
      }
      &__box__item-text {
        text-align: center;
        
      
        &-box {
          text-align: center;
          font-size: 18px;
          margin: 40px;
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        }
      }
  }
      .item-detail__table {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        table {
          border: solid 1px;
          align-items: center;
          width: 600px;
          height: 400px;
          border-width: 1px;
          border-collapse: collapse;
          font-size: 14px;
        }
        tr {
          padding: 5px;
          border: #f8f8f8;
          border: solid 1px;
          border-color: lightgrey;
        }
        th {
          background-color: #f0f0f0;
          width: 150px;
          padding: 10px 5px;
          text-align: center;
        }
        td {
          padding-left: 15px;
        }
          .category {
            text-decoration: none;
            color: #3CCACE;
          }
          .area {
            text-decoration: none;
            color: #1DC7D3;
          }
      }
      .item-detail__buy {
        text-align: center;
        width: 500px;
        height: 45px;
        border: solid;
        margin-left: 130px;
        margin-bottom: 10px;
        background-color: #1DC7D3;
        border-color: #1DC7D3;

        .btn {
          text-decoration: none;
          font-size: 25px;
          color: white;
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        }
      }
      .item-detail__management {
        text-align: right;
        .edit {
          text-decoration: none;
          color: #1DC7D3;
          font-size: 25px;
        }
        .destroy {
          text-decoration: none;
          color: #1DC7D3;
          margin-right: 20px;
          font-size: 28px;
        }
      }
      


      .item-detail__nav {
        padding-top: 5px;
        margin-bottom: 10px;
      }
        .nav {
          text-decoration: none;
          color: #1DC7D3;
        }
        .nav-next {
          text-decoration: none;
          color: #1DC7D3;
          float: right;
        }
        li {
          list-style: none;
          background-color: #f8f8f8;
        }
        .item-detail__more-navi {
          background-color: #f8f8f8;
          font-size: 23px;
          font-weight: bold;
          padding: 25px 0;
          
          a {
            text-decoration: none;
            color: #1DC7D3;
          }
        }
  
.link {
  height: 400px;
  background-image: url(bg-appBanner-pict.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .link-text {
    
    h2 {
      font-size: 25px;
      font-weight: bolder;
      color: white;
      text-shadow: 0px 0 4px black;
      text-align: center;
      margin-bottom: 20px;
    }
    
    p {
      font-size: 35px;
      font-weight: 100;
      color: white;
      text-shadow: 1px 0 4px black;
      text-align: center;
    }
  }
    .link-icon {
      text-align: center;
      a {
        text-decoration: none;
      }
      .icon{
        height: 60px;
        width: 210px;
        margin-top: 20px;
      }
      img:hover {
        opacity: 0.5;
      }
    }




