.footer
  .footer__contents
    .footer__contents__info
      %ul.footer__contents__info__box
        %lu
          = link_to "プライバシーポリシー", "#"
        %lu
          = link_to "メルカリ利用規約", "#"
        %lu
          = link_to "特定商取引に関する標記", "#"
    
    .footer__contents__logo
      = link_to image_tag("logo-white.png", height:'49', width: '185', alt: "ロゴ2"), "#"
    %p.footer__contents__copyright © FURIMA, Inc.